* {
  margin: 0;
  padding: 0;
}
/*-------------------------------------------------------------header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}
.header .number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header ul {
  display: flex;
  background-color: aqua;
}
.navcart {
  display: flex;
  justify-content: end;
  align-items: center;
}
li {
  list-style-type: none;
}
.header .logo {
  height: 70px;
  border-radius: 50%;
  margin: 10px 10px;
}
.fa-cart-shopping {
  font-size: 50px;
  margin: 10px 10px;
}
.fa-magnifying-glass {
  font-size: 50px;
  margin: 10px 10px;
  cursor: pointer;
}
/*-------------------------------------------------------------dialog */
dialog {
  position: fixed;
  left: 25%;
  top: 30%;
  border: none;
}
p {
  display: flex;
  justify-content: center;
}
.card {
  border: 3px solid aqua;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: aqua;
}
.card .text {
  font-weight: bold;
  margin-top: 10px;
}
.navdialog {
  display: flex;
  justify-content: space-between;
}
.fa-circle-xmark {
  font-size: 30px;
  cursor: pointer;
  margin: 5px 5px;
}
.fa-circle-xmark:hover {
  color: red;
}
.searchnav {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 10px;
}
.searchnav:focus {
  outline: none;
}
button {
  margin: 5px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
}
.isSelected {
  background-color: aquamarine !important;
}
.listbox {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 395px;
}
.listdialog {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  height: 43vh;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.listdialogcard {
  display: grid;
  grid-template-rows: 3fr 1fr;
  border: 3px solid aqua;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  width: 250px;
}
.listdialogcardtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.listdialogcardtextprice h2 {
  align-items: center;
}
.listdialogimg {
  height: 130px;
  width: 250px;
  display: flex;
  border-radius: 10px;
}
/*-------------------------------------------------------------container */
.warp-container {
  display: flex;
  justify-content: center;
  margin: 150px;
}
.listcontainercard {
  display: flex;
  flex-direction: column;
  border: 3px solid aqua;
  border-radius: 10px;
}
.listcontainerimg {
  border-radius: 10px;
}
.listcontainercardtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
.listcontainercardtext p {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
.listcontainercardtext h2 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
}
.listcontainerimg {
  height: 392px;
}
/*-------------------------------------------------------------footer */
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  gap: 20px;
  width: 100%;
}
.select-tab-button {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: aqua;
}
