* {
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------------------header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
.header ul {
    display: flex;
    background-color: aqua;
    width: 100%;
}
.navcart {
    display: flex;
    justify-content: end;
    align-items: center;
}
li {
    list-style-type: none;
}
.header .logo {
    height: 70px;
    border-radius: 50%;
    margin: 10px 10px;
}
.fa-cart-shopping {
    font-size: 50px;
    margin: 10px 10px;
}
.fa-magnifying-glass {
    font-size: 50px;
    margin: 10px 10px;
    cursor: pointer;
}
/*-------------------------------------------------------------dialog */
dialog {
    position: fixed;
    left: 25%;
    top: 30%;
    border: none;
}
.card {
    border: 3px solid aqua;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aqua;
}
.card .b {
    margin-left: 150px;
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.card .text {
    font-weight: bold;
    margin-top: 10px;
}
.navdialog {
    display: flex;
    justify-content: space-between;
}
.fa-circle-xmark {
    font-size: 30px;
    cursor: pointer;
    margin: 5px 5px;
}
.listnav {
    display: flex;
    align-items: center;
}
button {
    margin: 10px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
}
.listdialog {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 45vh;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.listdialogcard {
    display: grid;
    grid-template-rows: 3fr 1fr;
    border: 3px solid aqua;
    border-radius: 10px;
    margin: 5px;
}
.listdialogcardtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listdialogcardtextprice h2 {
    align-items: center;
}
.listdialogimg {
    height: 150px;
    width: 250px;
    display: flex;
    margin-left: 30px;
    border-radius: 10px;
}
